body
{
    margin: 0;
    background-image: url("https://i.imgur.com/CygUGRW.jpg");
    background-attachment: fixed;
    /*background: url("https://i.imgur.com/q9sNJ39.png") fixed; Denne linje svare til de to linjer ovenover*/
    /*Ændre størrelsen så den passer til siden*/
    background-size: cover;
    /*background-repeat: no-repeat;*/ /*Så billdet ikke gentager sig*/
    min-height: 100%;
}

.logo
{
    margin: auto;
    position: relative;
    display: inline-block;
    padding-top: 20px;
    height: 150px;
}

.logos
{
    text-align:center;
}

.color
{
    background-color: #FAD4E2;
}

.indexwrapper
{
    font-family: 'Bitter', serif;
    font-weight: bold;
}
#form-container
{
    padding-top: 70px;
    width: 500px;
    margin: auto;
}

#login-form
{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 30px 20px 30px;
    border: 2px solid;
    border-radius: 5px;
    /*REDIGER HER - TODO gør den dynamisk - UPDATE gjort i .submit */
    /*height: 710px;*/
}

.loginformheadline
{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.loginformunderheadline
{
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.createuser
{
    position: relative;
    display: inline;
    float: left;
    background-color: #FAD4E2;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

a.createuser:link
{
    color: #333;
    border-color: #333;
    text-decoration: none;
}
a.createuser:hover
{
    background-color: #FA6CA0;
}
a.createuser:visited
{
    color: #333;
}

.submit
{
    position: relative;
    /*float fik den til at ødelægge dynamikken i boksen. Left gjorde ikke.*/
    left: 269px;
}

input[type=submit]:hover
{
    background-color: #FA6CA0;
    border-color: #333;
}
input[type=text]:hover
{
    background-color: #FA6CA0;
}
input[type=password]:hover
{
    background-color: #FA6CA0;
}

.fontsize
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

.formlinestyling
{


    position: relative;
    width: 100%;

    border-color: #333;
    border-radius: 5px; /*For afrundede kanter på border*/

    line-height: 40px; /*For luft om bogstaver*/
    padding-left: 10px; /*For luft om bogstaver*/
}

input[type=submit]
{
    background-color: #FAD4E2;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    color: #333;
    padding: 10px 20px; /*MÅSKE FJERN*/
    text-decoration: none;
    /*margin: 4px 2px;*/
    margin: auto;
    cursor: pointer;
}

input[type=password]
{
    background-color: #FAD4E2;

    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.sex
{
    position: relative;
    float: right;
    padding-right: 5px;
}

/*Ændre styling på radio knapperne*/
input[type='radio']:after
{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    top: -8px;
    left: -1px;
    position: relative;
    background-color: #FAD4E2;
    content: '';
    display: inline-block;
    border: 2px solid #333;
}

/*Ændre styling på radio knapperne*/
input[type='radio']:checked:after
{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    top: -8px;
    left: -1px;
    position: relative;
    background-color: #FA6CA0;
    content: '';
    display: inline-block;
    border: 2px solid #333;
}

/*Gør at musen bliver til en text cursor som ved de andre felter*/
.password:hover
{
    cursor: text;
}

/*Fjerner pile på inputfelterne på indexsiden*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}